 @import url('https://fonts.googleapis.com/css2?family=Mooli&family=Poppins&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Mooli, sans-serif;
}

body{
    background: radial-gradient(lightgreen,rgb(9, 224, 9));
}

iframe{
    height: 90vh;
    width: 100%;
    border-radius: 1.8em;
    box-shadow: 5px 5px 30px rgb(71, 70, 70);
}

.inner{
    height: 100vh;
    width: 100%;
   display: flex;
   justify-content: space-around;
}

.chatbot{
     width: 26%;
    display: flex;
    align-items: center;

}

.img{
    display: flex;
    align-items: center;
}

img{
    width: 400px;
    height: 600px;
    filter: drop-shadow(5px 5px 20px white);
}

span{
    color: brown;
    font-size: 2.4em;
}

.first-text{
    font-size: 1.9em;
    color: white;
}

.s{
    width: 35%;
    position: absolute;
    top: 36%;
    left: 36%;
}

@media (max-width:376px)
{
    .inner{
        display: contents;
    }

    .img{
        margin: 5px;
        margin-left: 20px;
        margin-bottom: 10px;
    }

   img{
    width: 85px;
    height: 100px;
   }

   .chatbot{
    width: 85%;
    margin-left: 28px;
   }

   iframe{
    height: 85vh;
   }

   .s{
    width: 100%;
    position: absolute;
    top: 5%;
    left: 30%;
   }

   span{
    font-size: 1.4em;
    }

    .first-text{
    font-size: 1.9em;
    }
     
}