 @import url('https://fonts.googleapis.com/css2?family=Mooli&family=Poppins&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Mooli, sans-serif;
}

body{
    background: radial-gradient(rgb(99, 201, 229),rgb(0, 183, 255));
}

iframe{
    height: 90vh;
    width: 100%;
    border-radius: 1.8em;
    box-shadow: 5px 5px 30px rgb(71, 70, 70);
}

.inner{
    height: 100vh;
    width: 100%;
   display: flex;
   justify-content: space-around;
}

.chatbot{
     width: 26%;
    display: flex;
    align-items: center;

}

.img{
    display: flex;
    align-items: center;
}

img{
    width: 400px;
    height: 600px;
    filter: drop-shadow(5px 5px 20px white);
}

span{
    color: brown;
    font-size: 2.4em;
}

.first-text{
    font-size: 1.9em;
    color: white;
}

.s{
    width: 35%;
    position: absolute;
    top: 36%;
    left: 36%;
}

@media (max-width:1493px) {

    .s{
        width: 30%;
        position: absolute;
    top: 40%;
    left: 32%;
    }

    span{
        font-size: 2em;
    }
    
    .first-text{
        font-size: 1.4em;
        color:white;
    }

    img{
        width: 300px;
        height: 450px;
    }
    
    .chatbot{
        width: 30%;
    }

    iframe{
        width: 100%;
    }
}

@media (max-width:1156px) {
    
    .s{
        width: 30%;
        position: absolute;
    top: 43%;
    left: 31%;
    }

    span{
        font-size: 1.5em;
    }
    
    .first-text{
        font-size: 1em;
        color:white;
    }

    img{
        width: 250px;
        height: 350px;
    }
    
    .chatbot{
        width: 35%;
    }

    iframe{
        width: 100%;
    }

}

@media (max-width:979px) {
    .s{
       display: none;
    }

    img{
       display: none;
    }

    .inner{
        display: contents;
    }
      
    .chatbot{
        margin: 50px 10px 40px 25%;
        width: 50%;
    }
}

@media (max-width:701px) {
    .chatbot{
        margin: 50px 10px 40px 22%;
        width: 60%;
    }   
}

@media (max-width:501px) {
    .chatbot{
        width:80%;
        margin: auto;
        padding-top: 40px;
    }       
}


@media (max-width:376px)
{
  .chatbot{
    width: 100%;
    margin: 0;
    padding-top: 0;
  }

  iframe{
    border-radius: 1px ;
    height: 100vh;
  }
}
